@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.iconSettings {
  font-size: 2.5rem;  
  padding: 1rem;
}

.iconSettings :hover {
  cursor: pointer;
  color: orange;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;
}

.header {
  top: 0;
  right: 0;
  position: absolute;
}

.containerTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}