@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "chillax", "chillax-bold";
}

@font-face {
  font-family: "chillax";
  src: url(/assets/font/ChillaxRegular.ttf) format("truetype");
}

@font-face {
  font-family: "chillax-bold";
  src: url(/assets/font/ChillaxBold.ttf) format("truetype");
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
}

.iconSettings {
  font-size: 2.5rem;
  padding: 1rem;
}

.iconSettings :hover {
  cursor: pointer;
  color: #75a1ff;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;

  background-image: url("../../public/assets/components/bg3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.congretz {
  background-image: url("../../public/assets/congratz.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding: 40px;
}

.header {
  top: 0;
  right: 0;
  position: absolute;
}

.containerTable {
  padding-top: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;  
}

.containerTable table {
  min-width: 200px;
  width: 100%;
  border: none;
  border-collapse: collapse;
  font-size: 0.65rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.containerTable table td,
.containerTable table tr {
  border: none;
  padding: 8px;
  background-color: #75a1ff;
  margin: 0;
}

/* spin-wheel */
.divSpinWheel {
  width: 100%;
  height: 80%;
}

.containerMainComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 13rem;
  width: 100%;
}

.imageTb {
  width: 30rem;
  height: 20rem;
  object-fit: contain;
}

.imageT {
  width: 30rem;
  height: 10rem;
  object-fit: contain;
}

.textArea {
  display: flex;
  background-color: #3d7bff;
  background: linear-gradient(#3d7bff 0%, #3d7bff 50%, #75a1ff 100%);
  border-radius: 3rem;
  width: 60%;
  height: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: solid black 2px;
  box-shadow: 9px 8px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 8px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 8px 5px -4px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.textAreaB {
  background-color: #3d7bff;
  background: linear-gradient(#3d7bff 0%, #3d7bff 50%, #75a1ff 100%);
  border-radius: 3rem;
  width: 40%;
  height: 35%;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  border: solid black 2px;
  box-shadow: 9px 8px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 8px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 8px 5px -4px rgba(0, 0, 0, 0.75);
}

.winners {
  position: fixed;
  left: 10%;
  top: 17%;
  font-family: "chillax";
  font-size: 2rem;
  border: solid 4px black;
  padding: 2rem;
  border-radius: 2rem;
  color: aliceblue;
  background-color: #3d7bff;
  width: auto;
  height: 20rem;


  transform: scale(0.5);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.winners.show {
  transform: scale(1);
  opacity: 1;
}

/* .kataWinnerWrapper {
  overflow: hidden;
} */

/* .kataWinner {
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.kataWinner.show {
  opacity: 1;
  transform: translateY(0);
} */

/* .wiener {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #3d7bff;
  color: wheat;
} */

/* list-all */
.container {
  overflow-y: auto;
  width: 100vw;
}

.lineUp {
  animation: 0.25s anim-lineUp ease-out infinite;
  position: absolute;
  top: auto;
  left: auto;
}

@keyframes anim-lineUp {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}